In [3]:
import numpy as np
import pandas as pd
days = pd.Series(["Monday", "Tuesday", "Wednesday"])
print (days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [5]:
days_list = np.array(["Monday", "Tuesday", "Wednesday"])
numpy_days = pd.Series(days_list)
print(numpy_days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

In [4]:
days = pd.Series(["Monday", "Tuesday", "Wednesday"], index = ["a", "b", "c"])
print (days)

a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [6]:
days = pd.Series({"a": "Monday", "b" : "Tuesday", "c" : "Wednesday"})
print (days)

a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [7]:
print (days[0])

Monday

In [8]:
print (days[1 :])

b      Tuesday
c    Wednesday
dtype: object

In [9]:
print (days["c"])

Wednesday

In [10]:
print (pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

In [14]:
df_dict = {"Country" : ["Ghana", "Kenya", "Nigeria", "Togo"], "Capital" : ["Accra", "Nairobi", "Abuja", "Lome"], 
          "Population" : [10000, 8500, 35000, 2000], "Age" : [60, 70, 80, 75]}
df = pd.DataFrame(df_dict, index = [2, 4, 6, 8])
print (df)

   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome        2000   75

In [16]:
df_list = [["Ghana", "Accra", 10000, 60], ["Kenya", "Nairobi", 85000, 70], ["Nigeria", "Abuja", 35000, 80],
           ["Togo", "Lome", 2000, 75]]
df_1 = pd.DataFrame(df_list, columns = ["Country", "Capital", "Population", "Age"], index = [2, 4, 6, 8])
print (df_1)

   Country  Capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi       85000   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome        2000   75

In [17]:
print (df.iloc[3])

Country       Togo
Capital       Lome
Population    2000
Age             75
Name: 8, dtype: object

In [18]:
print(df.loc[6])

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: 6, dtype: object

In [19]:
print(df["Capital"])

2      Accra
4    Nairobi
6      Abuja
8       Lome
Name: Capital, dtype: object

In [20]:
print(df.at[6, "Country"])

Nigeria

In [21]:
print(df.iat[2, 0])

Nigeria

In [22]:
print(df["Population"].sum())

55500

In [23]:
print(df.mean())

Population    13875.00
Age              71.25
dtype: float64

In [24]:
print(df.describe())

         Population        Age
count      4.000000   4.000000
mean   13875.000000  71.250000
std    14505.027864   8.539126
min     2000.000000  60.000000
25%     6875.000000  67.500000
50%     9250.000000  72.500000
75%    16250.000000  76.250000
max    35000.000000  80.000000

In [26]:
df_dict2 = {"Name" : ["James", "Yemen", "Caro", np.nan], "Profession" : ["Researcher", "Artist", "Doctor", "Writer"],
           "Experience" : [12, np.nan, 10, 8], "Height" : [np.nan, 175, 180, 150]}
new_df = pd.DataFrame(df_dict2)
print (new_df)

    Name  Profession  Experience  Height
0  James  Researcher        12.0     NaN
1  Yemen      Artist         NaN   175.0
2   Caro      Doctor        10.0   180.0
3    NaN      Writer         8.0   150.0

In [27]:
print(new_df.isnull())

    Name  Profession  Experience  Height
0  False       False       False    True
1  False       False        True   False
2  False       False       False   False
3   True       False       False   False

In [29]:
print(new_df.dropna())

   Name Profession  Experience  Height
2  Caro     Doctor        10.0   180.0